PORT=4000
FRONTEND_ORIGIN="http://localhost:4200"

ADMIN_PASSWORD="iampassword"
JWT_SECRET="iamjwtsecretbroletsbealittlebigsoipass"

RAZORPAY_KEY_ID="rzp_test_c7nXNEo1IBbKnM"
RAZORPAY_KEY_SECRET="n9Gg3vZjvB3Fv3Gnr74z2SBe"
RAZORPAY_WEBHOOK_SECRET="optional-webhook-secret"